body {
  font-family: "montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 94.95px;
}
@media (max-width: 991px) {
  body {
    padding-top: 69.14px;
  }
}
.overflow {
  overflow: hidden;
}
:root {
  --main-color: #93673e;
  --main-hover: #c19b35;
  --sec-color: #8b8b8b;
  --white-color: #ffffff;
  --black-color: #000000;
}
img {
  image-rendering: -webkit-optimize-contrast;
}
figure {
  margin: 0;
}
/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}
/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.progress {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  color: rgba(255, 255, 255, 100);
  background-image: linear-gradient(
    135deg,
    var(--main-hover),
    var(--main-color)
  );
  /* border-radius: 4px 4px 4px 4px; */
}
html[dir="ltr"] .progress-bar {
  background-image: linear-gradient(
    135deg,
    var(--main-color),
    var(--main-hover)
  );
}
@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgba(255, 255, 255, 1);
  }
}
/*preloader*/
/*                          header section                     */
/*top header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  background-color: var(--white-color);
  transition: all 0.3s ease-in-out;
}
.top-header a {
  text-decoration: none;
}
.show-icons {
  display: flex;
  align-items: center;
}
.show-icons .menu-bars {
  display: none;
  background: transparent;
  outline: none !important;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  transition: all 0.3s ease-in-out;
}
.nav-header li a {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
@media (hover: hover) {
  .nav-header li a:hover {
    color: var(--main-hover);
  }
}
.nav-header li a.active {
  color: var(--main-hover);
}
.nav-header li {
  margin: 0 13px;
}
.nav-header .big-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.fixed-nav {
  background-color: var(--white-color);
  margin-top: -100px;
  transition: all 0.3s ease-in-out;
}
.fixed-nav .nav-header {
  padding: 10px 40px;
}
.fixed-header {
  position: fixed;
}
.fixed-header .fixed-nav {
  margin: 0;
}
.img-logo img {
  max-width: 224px;
  max-height: 65px;
  width: 224px;
  transition: all 0.3s ease-in-out;
}
.fixed-logo {
  display: none;
}
.fixed-nav .fixed-logo {
  display: flex;
  align-items: center;
}
/* .fixed-nav .img-logo {
  display: none;
} */
.logo-sm img {
  max-width: 40px;
  transition: all 0.3s ease-in-out;
}
.nav-header figure {
  margin: 0;
}
.nav-head {
  width: 100%;
  display: none;
}
.contact-link {
  width: 162px;
  height: 45px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: var(--white-color);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(193, 155, 53)),
    color-stop(rgb(230, 200, 94)),
    color-stop(rgb(230, 200, 94)),
    to(rgb(193, 155, 53))
  );
  background-image: -o-linear-gradient(
    left,
    rgb(193, 155, 53),
    rgb(230, 200, 94),
    rgb(230, 200, 94),
    rgb(193, 155, 53)
  );
  background-image: linear-gradient(
    to right,
    rgb(193, 155, 53),
    rgb(230, 200, 94),
    rgb(230, 200, 94),
    rgb(193, 155, 53)
  );
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
}
@media (hover: hover) {
  .contact-link:hover {
    text-decoration: none;
    color: var(--white-color);
    background-position: 100% 0;
  }
}

html[dir="ltr"] .contact-link {
  font-size: 16px;
}
/*                          header section                     */
/*           swiper section                     */
.main-slider {
  position: relative;
  overflow: hidden;
  /* margin-bottom: 35px; */
}
.main-slider:after {
  content: url(../images/background.webp);
  user-select: none;
  position: absolute;
  top: 20px;
  inset-inline-start: 0;
  z-index: -1;
}
html[dir="ltr"] .main-slider:after {
  transform: scaleX(-1);
}
.main-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.main-info,
.swiper-cont {
  overflow: hidden;
  width: 100%;
}
.main,
.swiper-cont {
  position: relative;
}
.main-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-inline-start: calc((100vw - 1170px) / 2);
}
.main-title {
  font-weight: 700;
  font-size: 44px;
  color: var(--main-color);
  margin-bottom: 35px;
  text-align: start;
  max-width: 460px;
}
.btn-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.first-btn {
  width: 191px;
  height: 60px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: var(--white-color);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(193, 155, 53)),
    color-stop(rgb(230, 200, 94)),
    color-stop(rgb(230, 200, 94)),
    to(rgb(193, 155, 53))
  );
  background-image: -o-linear-gradient(
    left,
    rgb(193, 155, 53),
    rgb(230, 200, 94),
    rgb(230, 200, 94),
    rgb(193, 155, 53)
  );
  background-image: linear-gradient(
    to right,
    rgb(193, 155, 53),
    rgb(230, 200, 94),
    rgb(230, 200, 94),
    rgb(193, 155, 53)
  );
  background-size: 300% 100%;
  margin-inline-end: 20px;
  transition: all 0.4s ease-in-out;
}
@media (hover: hover) {
  .first-btn:hover {
    text-decoration: none;
    color: var(--white-color);
    background-position: 100% 0;
  }
}
.second-btn {
  width: 230px;
  height: 60px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background-color: var(--white-color);
  transition: all 0.4s ease-in-out;
  display: inline-flex;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
html[dir="ltr"] .first-btn,
html[dir="ltr"] .second-btn {
  font-size: 16px;
}
@media (hover: hover) {
  .second-btn:hover {
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--main-color);
  }
}
.main .pro-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.main .pro-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.302);
}
.main .pro-img img {
  width: 100%;
}
.main-slider .swiper-btn {
  position: absolute;
  z-index: 1;
  bottom: 60px;
  /* display: none; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-slider .swiper-btn:hover {
  color: var(--white-color);
}
.main-slider .swiper-btn i {
  z-index: 2;
}
.main-slider .swiper-btn.swiper-btn-next {
  inset-inline-end: 40px;
}
.main-slider .swiper-btn.swiper-btn-prev {
  inset-inline-end: 102px;
}
html[dir="ltr"] .main-slider .swiper-btn.swiper-btn-next {
  inset-inline-end: 102px;
}
html[dir="ltr"] .main-slider .swiper-btn.swiper-btn-prev {
  inset-inline-end: 40px;
}
@media (min-width: 1320px) {
  .main-slider .swiper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: 40px;
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-slider .swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
  margin: 0 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

@media (max-width: 991px) {
  /* .main-slider .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  } */
  .main-slider:after {
    display: none;
  }
  .main-slider .swiper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 30px;
  }
  .main-slider .swiper-btn.swiper-btn-next {
    inset-inline-end: 20px;
  }
  .main-slider .swiper-btn.swiper-btn-prev {
    inset-inline-end: 82px;
  }
  html[dir="ltr"] .main-slider .swiper-btn.swiper-btn-next {
    inset-inline-end: 82px;
  }
  html[dir="ltr"] .main-slider .swiper-btn.swiper-btn-prev {
    inset-inline-end: 20px;
  }
  .main-cont {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-info {
    align-items: center;
    padding: 60px 20px 20px;
  }
  .main-title {
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
  }
  .btn-cont {
    justify-content: center;
    flex-direction: column;
  }
  .first-btn {
    width: 300px;
    height: 50px;
    font-size: 15px;
    margin-inline-end: 0;
    margin-bottom: 10px;
  }
  .second-btn {
    width: 300px;
    height: 50px;
    font-size: 15px;
  }
}
@media (hover: hover) {
  .main-slider .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: var(--white-color);
  }
}

.main-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--white-color);
  opacity: 1;
}
/*                          main-slider                             */
/*                       about-us-section                             */
.about-us-section {
  margin-top: 100px;
}
.about-us-head {
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 36px;
  color: var(--main-color);
  margin-bottom: 60px;
  position: relative;
}
.about-us-head::after {
  content: "";
  position: absolute;
  top: calc(100% + 18px);
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-image: -moz-linear-gradient(
    0deg,
    rgb(193, 155, 53) 0%,
    rgb(230, 200, 94) 100%
  );
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(193, 155, 53) 0%,
    rgb(230, 200, 94) 100%
  );
  background-image: -ms-linear-gradient(
    0deg,
    rgb(193, 155, 53) 0%,
    rgb(230, 200, 94) 100%
  );
}
.about-us-pargh {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  color: var(--main-color);
  margin-bottom: 40px;
  max-width: 948px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.about-us-pargh span {
  font-weight: 500;
  color: var(--main-hover);
  position: relative;
}
.about-us-pargh span::after {
  content: "";
  position: absolute;
  top: calc(100% + 1px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: var(--main-hover);
}
.about-us-link {
  width: 327px;
  height: 60px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: var(--white-color);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(193, 155, 53)),
    color-stop(rgb(230, 200, 94)),
    color-stop(rgb(230, 200, 94)),
    to(rgb(193, 155, 53))
  );
  background-image: -o-linear-gradient(
    left,
    rgb(193, 155, 53),
    rgb(230, 200, 94),
    rgb(230, 200, 94),
    rgb(193, 155, 53)
  );
  background-image: linear-gradient(
    to right,
    rgb(193, 155, 53),
    rgb(230, 200, 94),
    rgb(230, 200, 94),
    rgb(193, 155, 53)
  );
  margin: 0 auto;
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
}
html[dir="ltr"] .about-us-link {
  font-size: 16px;
}
@media (hover: hover) {
  .about-us-link:hover {
    text-decoration: none;
    color: var(--white-color);
    background-position: 100% 0;
  }
}
.counter-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 70px;
}
.counter-box {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
.counter-box .number-cont {
  color: var(--main-hover);
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}
.counter-box .counter-word {
  text-transform: capitalize;
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
}
@media (max-width: 991px) {
  .about-us-section {
    margin-top: 60px;
    overflow: hidden;
  }
  .about-us-pargh {
    text-align: justify;
    text-align-last: center;
  }
  .about-us-link {
    width: 300px;
    height: 50px;
    font-size: 16px;
  }
  .counter-cont {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .counter-box {
    margin-bottom: 30px;
    width: 50%;
  }
  .about-us-head {
    font-size: 24px;
    margin-bottom: 45px;
  }
  html[dir="ltr"] .counter-box .counter-word {
    font-size: 16px;
    min-height: 40px;
  }
  .counter-box .number-cont {
    font-size: 48px;
    line-height: 48px;
  }
}
/*                       about-us-section                             */
/*                      counter-section                     */
.counter-section {
  margin-top: 100px;
  background-color: var(--main-color);
  position: relative;
  padding: 100px 0 90px;
  overflow: hidden;
}
.counter-section::before {
  content: url(../images/background-1.webp);
  position: absolute;
  top: -50%;
  inset-inline-start: 0;
  user-select: none;
  z-index: 1;
}
html[dir="ltr"] .counter-section::before {
  transform: scaleX(-1);
}
.counter-container {
  position: relative;
  z-index: 2;
}
.counter-section .btn-cont {
  justify-content: center;
}
.counter-section .second-btn {
  border: 2px solid var(--white-color);
  background-color: transparent;
  color: var(--white-color);
}
@media (hover: hover) {
  .counter-section .second-btn:hover {
    color: var(--main-color);
    background-color: var(--white-color);
  }
}
@media (max-width: 767px) {
  .counter-section {
    margin-top: 50px;
  }
  .counter-section::before {
    display: none;
  }
}
/*                      services-section                      */
/*                              gallery-section                    */
.gallery-section {
  position: relative;
  padding-top: 100px;
  overflow: hidden;
}
.gallery-section:after {
  content: url(../images/background.webp);
  user-select: none;
  position: absolute;
  top: 20px;
  inset-inline-end: 0;
  z-index: -1;
  transform: scale(-1);
}
html[dir="ltr"] .gallery-section:after {
  transform: none;
}
.section-head {
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 36px;
  color: var(--main-color);
  margin-bottom: 40px;
}
.gallery-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}
.gallery:nth-of-type(2),
.gallery:nth-of-type(9n + 2) {
  grid-column: 2 / span 2;
}
.gallery:nth-of-type(4),
.gallery:nth-of-type(9n + 4) {
  grid-column: 1 / span 2;
}
.gallery:nth-of-type(9),
.gallery:nth-of-type(9n + 9) {
  grid-column: 3 / span 2;
}
.gallery .gallery-figure {
  position: relative;
  width: 100%;
  padding-top: 96.34052529396681%;
}
.gallery:nth-of-type(2) .gallery-figure,
.gallery:nth-of-type(9n + 2) .gallery-figure,
.gallery:nth-of-type(4) .gallery-figure,
.gallery:nth-of-type(9n + 4) .gallery-figure,
.gallery:nth-of-type(9) .gallery-figure,
.gallery:nth-of-type(9n + 9) .gallery-figure {
  padding-top: 46.875%;
}
.gallery-figure {
  margin: 0;
}
.gallery {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  overflow: hidden;
}
.gallery-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hover-gallery {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  font-size: 30px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hover-gallery::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(
    0deg,
    rgb(193, 155, 53) 0%,
    rgb(230, 200, 94) 100%
  );
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(193, 155, 53) 0%,
    rgb(230, 200, 94) 100%
  );
  background-image: -ms-linear-gradient(
    0deg,
    rgb(193, 155, 53) 0%,
    rgb(230, 200, 94) 100%
  );
  opacity: 0.85;
}
.hover-gallery i {
  position: relative;
  z-index: 2;
}
@media (hover: hover) {
  .gallery:hover .hover-gallery {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  .gallery-section {
    padding-top: 60px;
  }
  .gallery-section::after {
    display: none;
  }
  .section-head {
    font-size: 24px;
    margin-bottom: 45px;
  }
  .gallery-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .gallery:nth-of-type(4),
  .gallery:nth-of-type(9n + 4) {
    grid-column: 1 / span 2;
  }
  .gallery:nth-of-type(9),
  .gallery:nth-of-type(9n + 9) {
    grid-column: 1 / span 2;
  }
  .gallery:nth-of-type(2),
  .gallery:nth-of-type(9n + 2) {
    grid-column: 1 / span 2;
    order: -1;
  }
}
/*                              gallery-section                    */
/*                         testimonials-section               */
.testimonials-section {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 100px 0;
}
.testimonials-section::after {
  content: url(../images/background.webp);
  user-select: none;
  position: absolute;
  top: 20px;
  inset-inline-start: 0;
  z-index: -1;
}
html[dir="ltr"] .testimonials-section::after {
  transform: scaleX(-1);
}
.testimonials-slider {
  position: relative;
}
.testimonials-box {
  text-align: center;
}
.profile-img {
  border-radius: 50%;
  margin-bottom: 20px;
}
.testimonials-title {
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
  margin-bottom: 8px;
  margin-top: 0;
}
.testimonials-rate i {
  font-size: 16px;
  color: #cfcfcf;
  margin-bottom: 20px;
}
.testimonials-rate i.rated-star {
  color: #ffc107;
}
.testimonials-pargh {
  font-weight: 300;
  font-size: 16px;
  color: #666666;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 0;
}
.testimonials-slider .swiper-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1320px) {
  .testimonials-slider .swiper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.testimonials-slider .swiper-btn i {
  z-index: 2;
}
.testimonials-slider .swiper-btn.swiper-btn-next {
  left: -67px;
}
.testimonials-slider .swiper-btn.swiper-btn-prev {
  right: -67px;
}

.testimonials-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px;
}
.testimonials-slider .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
  opacity: 0.302;
  margin: 0 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}
.testimonials-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--main-hover);
  opacity: 1;
}
@media (hover: hover) {
  .testimonials-slider .swiper-btn:hover {
    color: var(--main-hover);
  }
  .testimonials-slider .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: var(--main-hover);
  }
}
@media (max-width: 767px) {
  .testimonials-section {
    padding: 70px 0;
  }
  .testimonials-section::after {
    display: none;
  }
  .testimonials-title {
    font-size: 14px;
  }
}
/*                         testimonials-section               */
/*                      work-section                      */
.work {
  background-color: var(--main-color);
  position: relative;
  padding: 90px 0 100px;
  overflow: hidden;
}
.work::before {
  content: url(../images/background-1.webp);
  position: absolute;
  top: -50%;
  inset-inline-end: 0;
  user-select: none;
  z-index: 1;
  transform: scaleX(-1);
}
html[dir="ltr"] .work::before {
  transform: scaleX(1);
}
.work-container {
  position: relative;
  z-index: 2;
}
.work-head {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  color: #ddb58f;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}
.work-pargh {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: var(--white-color);
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
}
.work .btn-cont {
  justify-content: center;
}
.work .second-btn {
  border: 2px solid var(--white-color);
  background-color: transparent;
  color: var(--white-color);
}
@media (hover: hover) {
  .work .second-btn:hover {
    color: var(--main-color);
    background-color: var(--white-color);
  }
}
@media (max-width: 767px) {
  .work {
    padding: 50px 0;
  }
  .work::after,
  .work.work::before {
    display: none;
  }
  .work-pargh,
  .work-pargh {
    font-size: 22px;
  }
}
/*                      work-section                      */
/*                         partner-section               */
.partner-section {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 100px 0;
}
.partner-ancor {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.partner-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 164px;
  max-height: 164px;
  margin: 0;
}
.partner-img {
  transition: all 0.3s ease-in-out;
}
@media (hover: hover) {
  .partner-ancor:hover .partner-img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    overflow: hidden;
  }
}
.partner-slider {
  position: relative;
}
.partner-slider .swiper-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1320px) {
  .partner-slider .swiper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (hover: hover) {
  .partner-slider .swiper-btn:hover {
    color: var(--main-hover);
  }
}
.partner-slider .swiper-btn i {
  z-index: 2;
}
.partner-slider .swiper-btn.swiper-btn-next {
  left: -67px;
}
.partner-slider .swiper-btn.swiper-btn-prev {
  right: -67px;
}

.partner-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px;
}
.partner-slider .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
  opacity: 0.302;
  margin: 0 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}
@media (hover: hover) {
  .partner-slider .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: var(--main-hover);
  }
}
.partner-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--main-hover);
  opacity: 1;
}
@media (max-width: 767px) {
  .partner-section {
    padding: 60px 0;
  }
  .partner-head {
    font-size: 18px;
  }
}
/*                         partner-section               */
/*                                   footer                            */
footer {
  padding: 80px 0 60px;
  background-color: var(--main-color);
  position: relative;
  overflow: hidden;
}
footer::after {
  content: url(../images/footer-bg.webp);
  user-select: none;
  position: absolute;
  top: -220px;
  inset-inline-start: 0;
  z-index: 1;
}
html[dir="ltr"] footer::after {
  transform: scaleX(-1);
}
.footer-cont {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}
.footer-contact {
  width: 100%;
  overflow: hidden;
  padding: 40px 30px;
  text-align: start;
  background-image: -moz-linear-gradient(
    0deg,
    rgb(193, 155, 53) 0%,
    rgb(230, 200, 94) 100%
  );
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(193, 155, 53) 0%,
    rgb(230, 200, 94) 100%
  );
  background-image: -ms-linear-gradient(
    0deg,
    rgb(193, 155, 53) 0%,
    rgb(230, 200, 94) 100%
  );
}
.contact-box {
  margin-bottom: 35px;
}
.contact-head {
  font-size: 16px;
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 15px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
.contact-head i {
  -webkit-margin-end: 8px;
  margin-inline-end: 8px;
  font-size: 24px;
}
.contact-pargh {
  font-size: 14px;
  color: var(--white-color);
  line-height: 26px;
  font-weight: 300;
  width: 95%;
  margin-bottom: 30px;
}
.contact-ancor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none !important;
  overflow: hidden;
  width: max-content;
  font-size: 14px;
  color: var(--white-color);
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
@media (hover: hover) {
  .contact-ancor:hover {
    color: var(--main-color);
  }
}
.social {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.social a {
  text-decoration: none !important;
}
a.social-link {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-inline-end: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: var(--white-color);
  color: var(--main-hover);
  transition: all 0.3s ease-in-out;
}
@media (hover: hover) {
  a.social-link:hover {
    background-color: var(--main-hover);
    color: var(--white-color);
  }
}
.footer-form-cont {
  width: 100%;
  overflow: hidden;
  background-color: rgb(132, 91, 53);
  padding: 40px 30px;
}
.footer-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.form-head h2 {
  text-align: start;
  font-weight: 300;
  font-size: 18px;
  color: var(--white-color);
  margin-bottom: 25px;
}
.form-group {
  margin-bottom: 15px;
  width: 100%;
}
.input-row {
  width: calc(50% - 5px);
}
.input-row:nth-of-type(2n + 1) {
  margin-inline-end: 10px;
}
.form-input {
  background-color: rgb(147, 103, 62);
  border: 2px solid rgb(147, 103, 62);
  height: 50px;
  width: 100%;
  padding: 0 20px;
  border-radius: 0;
  text-align: start;
  color: #d5ab83;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
  caret-color: var(--main-hover);
}
.form-input::placeholder {
  color: #d5ab83;
}
textarea.form-input {
  height: 130px;
  resize: none;
  padding: 16px 20px;
}
.form-input:focus {
  border-color: var(--white-color);
  outline: 0;
}
.form-btn-cont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.form-btn {
  width: 150px;
  height: 50px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: var(--white-color);
  border: none;
  outline: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(193, 155, 53)),
    color-stop(rgb(230, 200, 94)),
    color-stop(rgb(230, 200, 94)),
    to(rgb(193, 155, 53))
  );
  background-image: -o-linear-gradient(
    left,
    rgb(193, 155, 53),
    rgb(230, 200, 94),
    rgb(230, 200, 94),
    rgb(193, 155, 53)
  );
  background-image: linear-gradient(
    to right,
    rgb(193, 155, 53),
    rgb(230, 200, 94),
    rgb(230, 200, 94),
    rgb(193, 155, 53)
  );
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
}
@media (hover: hover) {
  .form-btn:hover {
    text-decoration: none;
    color: var(--white-color);
    background-position: 100% 0;
  }
}

/*select2 style*/
/*add-new-address*/

select {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.select2-container--default .select2-results__option--disabled {
  display: none;
}
.select2-container .select2-selection--single {
  background-color: rgb(147, 103, 62);
  border: 2px solid rgb(147, 103, 62);
  height: 50px;
  width: 100%;
  padding: 0 20px;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #d5ab83;
  font-weight: 300;
  font-size: 14px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  position: relative;
  top: auto;
  bottom: auto;
  width: auto;
  height: auto;
}

.select2-container .select2-selection--single .select2-selection__arrow::after {
  content: "";
  font-size: 13px;
  font-family: "line Awesome Free";
  font-weight: 900;
  color: #d5ab83;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container .select2-dropdown {
  background-color: rgb(147, 103, 62);
  border: none;
  border-radius: 0;
  overflow: hidden;
  z-index: 9;
}

.select2-container .select2-search--dropdown {
  padding: 0 10px;
}

.select2-container .select2-search--dropdown .select2-search__field {
  width: 100%;
  height: 40px;
  border-radius: 0;
  background-color: rgb(147, 103, 62);
  border: 2px solid var(--main-hover);
  font-size: 14px;
  font-weight: 300;
  color: var(--sec-color);
  padding: 0 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.select2-container
  .select2-search--dropdown
  .select2-search__field::-webkit-input-placeholder {
  font-weight: 300;
  color: #d5ab83;
}

.select2-container
  .select2-search--dropdown
  .select2-search__field:-ms-input-placeholder {
  font-weight: 500;
  color: #d5ab83;
}

.select2-container
  .select2-search--dropdown
  .select2-search__field::placeholder {
  font-weight: 300;
  color: #d5ab83;
}

.select2-container .select2-search--dropdown .select2-search__field:focus {
  border-color: var(--white-color);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select2-container .select2-search--dropdown .select2-search__field {
  text-align: start;
}

.select2-container .select2-results > .select2-results__options {
  scrollbar-width: thin;
  scrollbar-color: var(--main-hover) #fff;
}

.select2-container
  .select2-results
  > .select2-results__options::-webkit-scrollbar {
  background-color: #fff;
  width: 7px;
  height: 0px;
}

.select2-container
  .select2-results
  > .select2-results__options::-webkit-scrollbar-thumb {
  background-color: #f7f7f7;
}

.select2-container .select2-results__option {
  color: #d5ab83;
  font-size: 14px;
  text-align: start;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-left: 15px;
  padding-right: 15px;
}

.select2-container .select2-results__option:hover {
  background-color: transparent;
  color: var(--white-color);
}

.select2-container
  .select2-results__option.select2-results__option--highlighted.select2-results__option--selectable {
  background-color: transparent;
  color: var(--white-color);
}

.select2-container.select2-container--open.select2-container--below
  .select2-selection--single {
  border-bottom-color: transparent;
}
.select2-container--open .select2-selection.select2-selection--single {
  border: 2px solid var(--white-color);
}
.select2-container.select2-container--open .select2-dropdown--below {
  border: 2px solid var(--white-color);
  border-top: 0;
  border-radius: 0;
  padding-bottom: 10px;
}
.select2-container.select2-container--open .select2-dropdown--below {
  border-top-color: var(--white-color);
}

.select2-container.select2-container--open
  .select2-dropdown--below
  .select2-search--dropdown {
  padding: 5px 10px;
}

.select2-container.select2-container--open .select2-dropdown--above {
  border-bottom-color: var(--white-color);
}
.select2-container.select2-container--open
  .select2-dropdown--above
  .select2-search--dropdown {
  padding: 5px 10px;
}
.select2-container
  .select2-search--dropdown
  .select2-search__field:focus-visible {
  border: none;
  outline: 2px solid var(--white-color);
}
/*select2 style*/
.copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  color: var(--white-color);
  text-align: center;
  margin: 0;
}

@media (max-width: 991px) {
  footer {
    padding: 70px 0 40px;
  }
  footer::after {
    display: none;
  }
  .footer-cont {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .footer-form-cont,
  .footer-contact {
    padding: 40px 20px;
  }
  .input-row {
    width: 100%;
  }
  .input-row:nth-of-type(2n + 1) {
    margin-inline-end: 0px;
  }
}

/*                                   footer                            */
/*                                    media query                                    */
/*                    menu in phone size                      */
@media (min-width: 992px) and (max-width: 1199px) {
  .img-logo img {
    max-width: 180px;
  }
  .nav-header li a {
    font-size: 12px;
  }
  .nav-header li {
    margin: 0 8px;
  }
  .main-info {
    padding: 0 40px;
  }
}

@media (max-width: 991px) {
  .img-logo img {
    max-width: 135px;
  }
  .logo-sm img {
    max-width: 30px;
  }
  .nav-header {
    padding: 15px 20px;
  }
  .fixed-nav .nav-header {
    padding: 10px 20px;
  }
  .contact-link {
    width: 122px;
    height: 35px;
    font-size: 12px;
    margin: 0;
  }
  html[dir="ltr"] .contact-link {
    font-size: 10px;
  }
  .show-icons .menu-bars {
    position: relative;
    z-index: 300;
    width: 18px;
    display: flex;
    align-items: center;
    margin-inline-start: 15px;
    transition: all 0.3s ease-in-out;
  }
  @media (hover: hover) {
    .menu-bars:hover {
      color: var(--main-hover);
    }
  }

  .show-icons .lang-section {
    display: none;
  }
  .nav-head {
    display: flex;
    justify-content: flex-start;
    padding: 16px 0 0;
  }
  .nav-head .dropdown-content {
    background-color: transparent;
    text-align: center;
    min-width: 100%;
    padding: 10px 0 0;
    padding-inline-start: 10px;
    box-shadow: none;
    position: static;
    visibility: visible;
    opacity: 1;
    left: auto;
    transform: none;
    transition: none;
    display: none;
  }
  .navgition {
    display: block;
    position: fixed;
    padding: 30px 20px;
    padding-top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    clip-path: circle(10.9% at 16% 16%);
    background-color: rgba(255, 255, 255, 0.99);
    transition: 0.4s;
    z-index: 200;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }
  html[dir="ltr"] .navgition {
    clip-path: circle(11.2% at 86% 14%);
  }
  .reset-left {
    left: 0;
    top: 0;
    clip-path: circle(139.6% at 9% 15%);
    visibility: visible;
    opacity: 1;
  }
  html[dir="ltr"] .reset-left {
    clip-path: circle(121.2% at 86% 14%);
  }

  .nav-header .big-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    padding: 20% 20px 20px;
    /* height: 100%; */
  }
  .nav-header li {
    margin: 0;
  }
  .big-menu li {
    margin-bottom: 25px;
  }
  .chevron-down {
    line-height: unset;
  }
  .nav-header li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
  }
  /*                    menu in phone size                      */
}
/*                                    media query                                    */

.fixall {
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

/*overlay*/
.overlay-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
  background-color: #000;
  opacity: 0.4;
  display: none;
}
/*                                 arrow-top                           */
.arrow-top {
  position: fixed;
  bottom: 75px;
  inset-inline-start: 20px;
  display: none;
  z-index: 10;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.302);
  font-size: 20px;
  border: none;
  outline: none !important;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none !important;
}
@media (hover: hover) {
  .arrow-top:hover {
    background-color: var(--main-hover);
    color: var(--white-color);
  }
}
.arrow-top:focus {
  background-color: var(--main-hover);
  color: var(--white-color);
}
.fixed-what {
  position: fixed;
  bottom: 10px;
  inset-inline-start: 10px;
  z-index: 10;
  text-decoration: none !important;
}
.fixed-what .tooltiptext {
  visibility: hidden;
  opacity: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  color: var(--main-color);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
  padding: 5px 10px;
  position: absolute;
  top: 50%;
  inset-inline-start: calc(100% + 8px);
  transform: translateY(-50%);
  width: max-content;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fixed-what .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  inset-inline-end: 100%;
  margin-top: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(255, 255, 255);
}
html[dir="ltr"] .fixed-what .tooltiptext::after {
  transform: scaleX(-1);
}
.fixed-what:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.fixed-what i {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4dc247;
  font-size: 42px;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.fixed-what i:hover {
  background-color: var(--main-hover);
}
@media (max-width: 767px) {
  .arrow-top {
    bottom: 65px;
    inset-inline-start: 14px;
  }
  .fixed-what {
    position: fixed;
    bottom: 10px;
    inset-inline-start: 10px;
  }
  .fixed-what i {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}
@media (max-width: 767px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*hamburger menu*/
.hamburger-lines {
  height: 14px;
  width: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger-lines .line {
  display: block;
  height: 2px;
  width: 100%;
  background: var(--main-color);
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.open-bars .hamburger-lines .line1 {
  transform: rotate(45deg);
}
.open-bars .hamburger-lines .line2 {
  transform: scaleY(0);
}

.open-bars .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
